.card-container hr{
    border: 1px solid rgba(17, 17, 17, 0.15);
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 25px;
}
.banner-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
}
.banner-container button {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    cursor: pointer;
    color: #6047EC;
    font-family: 'Exo 2';
    font-weight: 700;
    font-size: 24px;
    transition: border-color 0.25s;
    margin-bottom: 20px;
}
.banner-container button:hover {
    border-color: green;
}
.banner-container button:focus, button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
.products-container{
    display: grid;
    gap: 45px;
}
.bookmark{
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    padding: 20px;
}
.bookmarked h2{
    font-family: 'Exo 2';
    font-size: 24px;
}
.bookmark-title{
    background-color: white;
    border-radius: 8px;
}
.bookmark-title p{
    padding: 10px;
    color: black;
    font-size: 18px;
}