.product img{
    width: 100%;
}
.productRead{
    display: flex;
    justify-content: space-between;
}
.product-name-sizing{
    display: flex;
    justify-content: space-between;
}
.productRead img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 50px;
}
.product h5{
    font-family: 'Exo 2';
    font-size: 24px;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
}
.product .date{
    font-family: 'Exo 2';
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 16px;
    margin-left: 30px;
    color: rgba(17, 17, 17, 0.6);
}
.timing{
    margin-top: 50px;
    font-family: 'Exo 2';
    font-weight: 500;
    font-size: 20px;
    color: rgba(17, 17, 17, 0.6);
}
.product h1{
    font-family: 'Exo 2';
    font-size: 35px;
}
p{
    font-family: 'Exo 2';
    font-size: 20px;
    color: rgba(17, 17, 17, 0.6);
}
.timing .icon{
    color: rgb(150, 147, 147);
    margin-left: 10px;
}
.timing .icon:hover{
    color: rgb(75, 75, 75);
}
.read p{
    font-weight: 500;
    color: #6047EC;
    font-weight: bold;
    cursor: pointer;
  }
.read p:hover {
    color: #1f278e;
  }
